1) Имеются следующие данные о транзакциях в период с 01.12.2010 по 12.09.2011: 
- InvoiceNo – номер транзакции 
- StockCode – код товара 
- Description – описание товара 
- Quantity – количество единиц товара, добавленных в заказ 
- InvoiceDate – дата транзакции 
- UnitPrice – цена за единицу товара 
- CustomerID – id клиента 
- Country – страна, где проживает клиент 

Импортируйте данные data.csv.zip (в папке) с кодировкой ISO-8859-1. Запишите полученный датафрейм в retail, а названия колонок сохраните в переменную retail_columns.

In [1]:
import os
import pandas as pd
import numpy as np

In [163]:
retail = pd.read_csv('/Users/a2v/Desktop/DS/data/karpov.couses/data/data.csv', encoding = 'ISO-8859-1')

In [164]:
retail_columns = retail.columns.tolist()

2) Проверьте, встречаются ли в данных повторяющиеся наблюдения, и в качестве ответа укажите их количество. Если они есть, то удалите их из retail.

In [165]:
retail.duplicated().sum()

5268

In [166]:
retail.shape[0]

541909

In [167]:
retail.drop_duplicates(inplace=True)

In [168]:
retail.shape[0]

536641

Данные содержат в себе записи как и об успешных транзакциях, так и об отмененных. Если пользователь отменил заказ, в начале номера транзакции (InvoiceNo) ставится C (canceled). 
Сколько всего заказов отменили пользователи?

In [169]:
count = [row for row in df.InvoiceNo if row.startswith("C")]
print(len(count))

9288

Теперь отфильтруйте данные и оставьте в retail только те заказы, где Quantity > 0. В качестве ответа укажите число оставшихся строк.

In [170]:
retail[retail.Quantity > 0].shape[0]

526054

Посчитайте число заказов для каждого пользователя (CustomerID) из Германии (Germany). Оставьте только тех, кто совершил более N транзакций (InvoiceNo), где N – 80% процентиль. Запишите полученные id пользователей в germany_top (не весь датафрейм, только id). Идентификатор заказа – InvoiceNo. Для каждого заказа в данных может встречаться более 1 строки.

In [171]:
germany = retail[retail.Country == 'Germany'] \
                .groupby('CustomerID') \
                .agg({'InvoiceNo':pd.Series.nunique}).reset_index()

In [172]:
percentile_80 = germany.InvoiceNo.quantile(q=0.8)

In [173]:
germany_top = germany.query('InvoiceNo > @percentile_80')['CustomerID']

Используя объект с id пользователей (germany_top), полученный на предыдущем шаге, отфильтруйте наблюдения и оставьте в данных записи только по интересующим нас юзерам. Результирующий датафрейм запишите в top_retail_germany.

In [174]:
top_retail_germany = retail.query('CustomerID in @germany_top')

Сгруппируйте top_retail_germany по коду товара (StockCode). Какой из продуктов добавляли в корзину чаще всего, кроме POST? 
- Note: одним заказом считается единовременная покупка любого количества товара, т.е. без учета Quantity.

In [175]:
top_retail_germany.groupby('StockCode') \
                .agg({'InvoiceNo':'count'}) \
                .sort_values('InvoiceNo', ascending=False).head(5)

           InvoiceNo
StockCode
POST             219
22326             62
22423             55
22328             45
22467             37

Вернемся к анализу полного датасета retail. Создайте колонку Revenue с суммой покупки, используя колонки Quantity и UnitPrice.

In [176]:
retail['Revenue'] = retail['Quantity']*retail['UnitPrice']

In [177]:
retail.drop(columns='revenue', inplace=True)

KeyError: "['revenue'] not found in axis"

In [178]:
retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34

Для каждой транзакции (InvoiceNo), посчитайте финальную сумму заказа. В качестве ответа укажите топ-5 (InvoiceNo) по сумме заказа (через запятую с пробелом и в порядке убывания TotalRevenue)

In [181]:
revenue_sum_top_5 = retail.groupby('InvoiceNo', as_index=False) \
      .agg({'Revenue':'sum'}) \
      .sort_values('Revenue', ascending=False)[:5]['InvoiceNo']
#(', ').join(revenue_sum_top_5)
revenue_sum_top_5.str.cat(sep=', ')

'581483, 541431, 574941, 576365, 556444'